<style>
    @font-face {
        font-family: 'Bebas';
        /* Antes de descargar el archivo, le decimos al buscador
        que intente buscar en local la fuente con nombre
        Cabin, Cabin Regular o Cabin-Regular */
        src: local('Bebas'),
        local('Cabin Regular'),
        local('Cabin-Regular'),
        url(./css/BebasNeue.otf) format('woff');
    }

    .bebas {
        font-family: 'Bebas';
        text-shadow: 3px 3px 2px #111;
    }
    @font-face {
        font-family: 'HelveticaWorl';
        /* Antes de descargar el archivo, le decimos al buscador
        que intente buscar en local la fuente con nombre
        Cabin, Cabin Regular o Cabin-Regular */
        src: local('HelveticaWorl'),
        local('Cabin Regular'),
        local('Cabin-Regular'),
        url(./css/HelveticaWorld-Regular.ttf) format('woff');
    }
    .bebas2 {
        font-family: 'HelveticaWorl';
        text-shadow: black 0.1em 0.1em 0.2em

    }
    .bebas3 {
        font-family: 'HelveticaWorl';
        text-shadow: black 0.1em 0.1em 0.2em

    }
    .f{


    }
    .g{

    }
</style>




<div style=" width: 900px; overflow: hidden;" id="delay_demo" class="shadow hover">

    <div class="f" id="v1"></div>
    <div class="f" id="v2"></div>
    <div class="f" id="v3"></div>
    <div class="f" id="a1"></div>
    <div class="f" id="a2"></div>
    <div class="f" id="v4"></div>
    <div class="f" id="a3"></div>
    <div class="f" id="v5"></div>
    <div class="f" id="a4"></div>
    <div class="f" id="v6"></div>
    <div class="f" id="v25"></div>
    <div class="f" id="v7"></div>
    <div class="f" id="v8"></div>
    <div class="f" id="a5"></div>
    <div class="f" id="v9"></div>
    <div class="f" id="a6"></div>
    <div class="f" id="a7"></div>
    <div class="g"  id="a8"></div>
    <div class="f" id="v10">
        <img width="70px" src="css/signo1.png">
    </div>
    <div class="f" id="v11">
        <img width="50px" src="css/signo2.png">
    </div>
    <div  class="f" id="v12">
        <img width="200px" src="css/mano.png">
    </div>
    <div class="f" id="v13">
        <img width="50px" src="css/signo3.png">
    </div>
    <div class="g" id="a9"></div>
    <div class="f" id="v14">
        <img width="60px" src="css/signo4.png">
    </div>
    <div class="f" id="v15"></div>
    <div class="g" id="a10"></div>
    <div class="g" id="a11"></div>
    <div class="g" id="a12"></div>
    <div class="g" id="a13"></div>
    <div class="f" id="v16"></div>
    <div class="f" id="v17"></div>
    <div class="f" id="v18"></div>
    <div class="f" id="v19"></div>
    <div class="f" id="v21"></div>
    <div class="f" id="v20"></div>

    <div class="bebas"  id="letrai1">H</div>
    <div class="bebas"  id="letrap1">E</div>
    <div class="bebas"  id="letrap2">A</div>
    <div class="bebas"  id="letray">v</div>
    <div class="bebas"  id="letrat">Y</div>
    <div class="bebas"  id="letrat2"></div>
    <div class="bebas"  id="letrae"></div>
    <div class="bebas"  id="letrac"></div>
    <div class="bebas"  id="letrah"></div>
    <div class="bebas2"  id="teg">Developer</div>
</div>



